!--------------------------
! ROFI Color theme
! -------------------------
rofi.color-enabled: true
!rofi.color-window: argb:ee273238, #273238, argb:3a1e2529
rofi.color-window:      #000, #000, #000
rofi.color-normal: argb:00273238, #c1c1c1, argb:3a273238, #394249, #ffffff
rofi.color-active: argb:00273238, #80cbc4, argb:3a273238, #394249, #80cbc4
rofi.color-urgent: argb:00273238, #ff1844, argb:3a273238, #394249, #ff1844
rofi.hide-scrollbar:    true

!---------------------------------
! Xft settings
! --------------------------------

!Xft.dpi:        110
Xft.dpi:        109
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

!---------------------------------
! URXVT Terminal config
! --------------------------------

URxvt.depth:                            32
URxvt*termName:                         screen-256color
URxvt*geometry:                         240x84
URxvt.loginShell:                       true
URxvt*scrollColor:                      #777777
URxvt.scrollStyle:                      rxvt
URxvt*scrollTtyKeypress:        true
URxvt*scrollTtyOutput:          false
URxvt*scrollWithBuffer:         true
URxvt*skipScroll:                       true
URxvt*scrollBar:                        false
URxvt*fading:                           30
URxvt*urgentOnBell:                     false
URxvt*visualBell:                       true
URxvt*mapAlert:                         true
URxvt*mouseWheelScrollPage:     true
URxvt.foreground:                       #eeeeee
URxvt.background:                       #000000
URxvt*colorUL:                          yellow
URxvt*underlineColor:           yellow
URxvt.saveLines:                        65535
URxvt.cursorBlink:                      false
URxvt.utf8:                             true
URxvt.locale:                           true
URxvt.letterSpace:              -1

!!URxvt.font:             xft:Hack Nerd Font:pixelsize=13:style=regular
URxvt.font:             xft:DroidSansMono Nerd Font:pixelsize=13:style=regular
URxvt.boldFont:         xft:DroidSansMono Nerd Font:pixelsize=14:style=bold

! Perl extensions
URxvt.perl-ext-common:     default,matcher
URxvt.matcher.button:      1
URxvt.urlLauncher:         chromium
URxvt.perl-ext-common:          ...,font-size
URxvt.keysym.C-Up:              perl:font-size:increase
URxvt.keysym.C-Down:            perl:font-size:decrease
URxvt.keysym.C-S-Up:            perl:font-size:incglobal
URxvt.keysym.C-S-Down:          perl:font-size:decglobalURxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! Colors

URxvt*background: #232627
URxvt*foreground: #fcfcfc
!black
URxvt*color0:   #232627
URxvt*color8:   #7f8c8d
!red
URxvt*color1:   #ed1515
URxvt*color9:   #c0392b
!green
URxvt*color2:   #11d116
URxvt*color10:   #1cdc9a
!yellow
URxvt*color3:   #f67400
URxvt*color11:   #fdbc4b
!blue
URxvt*color4:   #1d99f3
URxvt*color12:   #3daee9
!purple
URxvt*color5:   #9b59b6
URxvt*color13:   #8e44ad
!cyan
URxvt*color6:   #1abc9c
URxvt*color14:   #16a085
white
URxvt*color7:   #fcfcfc
URxvt*color15:   #ffffff
