* {
  all: unset;
}
window {
  background-color: #282c34;
  color: #ffd5cd;
  font-family: Museo Sans;
}

button {
  all: unset;
  background-color: #282c34;
  padding: 10px;
}

.musicart {
  background-size: 260px;
  min-height: 260px;
  min-width: 260px;
  margin: 20px;
  border-radius: 10px;
}

.musictitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.musicartist {
  font-size: 15px;
  margin-bottom: 10px;
}

.musicbtn button {
  font-size: 12px;
}

.musicbtn button:hover {
  color: #d35d6e;
}

.music-slider scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 5px;
  min-width: 240px;
  margin-bottom: 20px;
}

.music-slider scale trough highlight {
  all: unset;
  background-color: #ffd5cd;
  color: #000000;
  border-radius: 10px;
}

.music-slider slider {
  all: unset;
  color: #ffd5cd;
}

.number_day {
  padding-top: 10px;
  font-size: 35px;
  color: #d35d6e;
}

.month {
  font-weight: bold;
}

.weather-icon-side {
  font-size: 45px;
  font-family: Iosevka;
  margin: 5px 30px 5px 30px;
}
.weather-stat-side {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #d35d6e;
}

.temperature-side {
  font-size: 16px;
  font-weight: 900;
  padding-top: 15px;
  padding-left: 10px;
}

.musicart-side {
  background-size: 92px;
  min-height: 90px;
  min-width: 90px;
  margin: 15px 5px 15px 15px;
  border-radius: 6px;
}
.musicinfo-side {
  font-size: 15px;
  margin-top: 25px;
  margin-left: 5px;
  font-weight: bold;
  // margin: 20px;
  border-radius: 10px;
  // border: 1px solid white;
  min-width: 40px;
}
.musicbtn-side {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 5px;
}
.musicbtn-side button {
  font-size: 16px;
  padding-right: 30px;
}

.musicbtn-side button:hover {
  color: #d35d6e;
}
.pause-play-side {
  color: #d35d6e;
}
.pause-play-side:hover {
  color: #ffd5cd;
}

.time-side {
  margin: 20px 65px 0px 65px;
  font-size: 60px;
}
.minute-side {
  color: #d35d6e;
}
.day-side {
  font-size: 16px;
  font-weight: bold;
  color: #90c861;
}

.sliders-side slider {
  all: unset;
  color: #ffd5cd;
}
.slider-vol-side {
  margin-top: 10px;
}
.slider-vol-side scale trough highlight {
  all: unset;
  background-color: #c47eb7;
  color: #000000;
  border-radius: 10px;
}
.slider-bright-side scale trough highlight {
  all: unset;
  background-color: #84afdb;
  color: #000000;
  border-radius: 10px;
}
.slider-ram-side scale trough highlight {
  all: unset;
  background-color: #d35d6e;
  color: #000000;
  border-radius: 10px;
}
.slider-battery-side scale trough highlight {
  all: unset;
  background-color: #90c861;
  color: #000000;
  border-radius: 10px;
}
.slider-vol-side scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 5px;
  min-width: 170px;
  margin-top: 10px;
  margin-left: 20px;
}
.slider-bright-side scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 5px;
  min-width: 170px;
  margin-top: 10px;
  margin-left: 16px;
}
.slider-ram-side scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 5px;
  min-width: 170px;
  margin-top: 10px;
  margin-left: 17px;
}
.slider-battery-side scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 5px;
  min-width: 170px;
  margin-top: 10px;
  margin-left: 13px;
}

.label-battery-side,
.label-bright-side,
.label-ram-side,
.label-vol-side {
  margin-top: 10px;
  font-family: Iosevka;
  margin-left: 35px;
  font-size: 25px;
}
.label-bright-side {
  color: #84afdb;
}
.label-ram-side {
  font-size: 30px;
  color: #d35d6e;
}
.label-battery-side {
  font-size: 18px;
  color: #90c861;
}
.label-vol-side {
  color: #c47eb7;
}

.search-side {
  border-radius: 12px;
  background-color: #272626;
  margin: 20px 30px 20px 30px;
}
.search-side:hover {
  color: #d35d6e;
}
.sysbtn button {
  font-size: 30px;
}
.shutdown-side ~ button:hover {
  color: #d35d6e;
}
.shutdown-side {
  color: #d35d6e;
}
.shutdown-side:hover {
  color: #ffd5cd;
}
.reboot-side {
  color: #84afdb;
}
.lock-side {
  color: #ffd5cd;
}
.suspend-side {
  color: #c47eb7;
}
.logout-side {
  color: #90c861;
}

.calendar_title {
  margin: 20px 20px 0px 20px;
  font-size: 16px;
}
