.parent {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  background-color: #333;
}

.clock {
  font-size: 24px;
  color: #fff;
}

.timer-input {
  margin-top: 10px;
  padding: 5px;
}

.timer-start {
  margin-top: 10px;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.timer-countdown {
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}
