name: "Update Flake Deps"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 0"

jobs:
  generate_matrix:
    runs-on: ubuntu-latest
    outputs:
      nixos_configurations:
        ${{ steps.gen_nixos_configurations.outputs.nixos_configurations }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.TEST_TOKEN }}"
      - name: Install nix
        uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org https://merrinx.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= merrinx.cachix.org-1:xxPuUGRPdYkH1eAUy1hLXt9w3GCfKTFVrkiWdlPEN9E= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc=
          install_url: https://releases.nixos.org/nix/nix-2.25.0/install
      - name: Generate flake.json
        run: |
          nix flake show --json > flake.json
      - id: gen_nixos_configurations
        run: |
          nixos_configurations=$(jq -c '.nixosConfigurations | keys' < flake.json)
          echo "nixos_configurations=$nixos_configurations" >> $GITHUB_OUTPUT

  update_flake:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.TEST_TOKEN }}"
      - name: Install nix
        uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org https://merrinx.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= merrinx.cachix.org-1:xxPuUGRPdYkH1eAUy1hLXt9w3GCfKTFVrkiWdlPEN9E= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc=
          install_url: https://releases.nixos.org/nix/nix-2.25.0/install
      - name: Set up cachix
        uses: cachix/cachix-action@master
        with:
          name: merrinx
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Set up git
        run: |
          git config user.email "gako358@outlook.com"
          git config user.name "Gako358"
      - name: Update the flake
        run: nix flake update
      - name: Store flake.lock
        uses: actions/upload-artifact@v4
        with:
          name: flake_lock
          path: flake.lock

  build_flake:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    needs: [generate_matrix, update_flake]
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        nixos_configuration:
          ${{ fromJson(needs.generate_matrix.outputs.nixos_configurations) }}
    steps:
      - name: Free diskspace
        uses: easimon/maximize-build-space@master
        with:
          build-mount-path: /nix
          swap-size-mb: 8192
          root-reserve-mb: 4096
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          remove-docker-images: true
      - name: Clean up additional space (Packages and Directories)
        run: |
          echo "Initial disk space:"
          df -h
          sudo apt-get remove -y '^llvm-.*' 'php.*' azure-cli google-cloud-sdk hhvm google-chrome-stable firefox powershell mono-devel || true
          sudo apt-get autoremove -y
          sudo apt-get clean
          echo "Disk space after apt cleanup:"
          df -h
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /opt/ghc || true
          sudo rm -rf /usr/local/share/boost || true
          sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
          echo "Disk space after directory cleanup:"
          df -h
      - name: Clean up additional space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY" || true
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.TEST_TOKEN }}"
      - name: Install nix
        uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org https://merrinx.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= merrinx.cachix.org-1:xxPuUGRPdYkH1eAUy1hLXt9w3GCfKTFVrkiWdlPEN9E= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc=
            max-jobs = 2
            cores = 2
            max-silent-time = 1800
          install_url: https://releases.nixos.org/nix/nix-2.25.0/install
      - name: Set up cachix
        uses: cachix/cachix-action@master
        with:
          name: merrinx
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Restore flake.lock
        uses: actions/download-artifact@v4
        with:
          name: flake_lock
      - name: Build NixOS Configuration
        run: |
          nix build .#nixosConfigurations.${{ matrix.nixos_configuration }}.config.system.build.toplevel --out-link result
      - name: Push to cachix in smaller batches
        run: |
          for path in $(nix path-info --json result | jq -r '.[].path'); do
            cachix push merrinx $path || true
          done

  check_flake:
    runs-on: ubuntu-latest
    needs: [update_flake]
    continue-on-error: true
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.TEST_TOKEN }}"
      - name: Install nix
        uses: cachix/install-nix-action@v30
        with:
          extra_nix_config: |
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org https://merrinx.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= merrinx.cachix.org-1:xxPuUGRPdYkH1eAUy1hLXt9w3GCfKTFVrkiWdlPEN9E= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc=
          install_url: https://releases.nixos.org/nix/nix-2.25.0/install
      - name: Set up cachix
        uses: cachix/cachix-action@master
        with:
          name: merrinx
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Restore flake.lock
        uses: actions/download-artifact@v4
        with:
          name: flake_lock
      - name: Check flake
        run: nix flake check --keep-going

  push_update:
    runs-on: ubuntu-latest
    permissions: write-all
    needs: [update_flake, build_flake, check_flake]
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          token: "${{ secrets.TEST_TOKEN }}"
      - name: Restore flake.lock
        uses: actions/download-artifact@v4
        with:
          name: flake_lock
      - name: Set up git
        run: |
          git config user.email "gako358@outlook.com"
          git config user.name "Gako358"
      - name: Create and merge PR
        run: |
          git switch -c updates-${{ github.run_id }}
          git commit -am "flake.lock: Update"
          git push -u origin updates-${{ github.run_id }}
          PR=$(gh pr create \
            --assignee Gako358 \
            --base main \
            --body "Automatic flake update on $(date -I)" \
            --fill \
            --label bot \
            --title "Auto update $(date -I)")
          gh pr merge $PR --rebase --delete-branch
        env:
          GITHUB_TOKEN: ${{ secrets.TEST_TOKEN }}

